div.container::before{
content: url(../images/f02.png);
border: 2px solid blue;
display: flex;
width: 20vw;
}





.image{
    background-image: url(../images/f02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 1vw;
    width: 20vw;
    height: 20vw;
    border: 3px solid red;

}

div.container::after{
    content: url(../images/f02.png);
    border: 2px solid blue;
    display: flex;
    width: 20vw;
}

